{% extends 'base.html' %}

{% load bootstrap_tags %}

{% block page_title %}
Travel
{% endblock %}

{% block secondary_nav %}
{% endblock %}

{% block content %}
<div class="item-box">
    <div class="row">
        <div class="col-sm-10 col-md-9">
            <div class="row">
                <div class="col-xs-9">
                    <h1>See the world and do good</h1>
                    <hr>
                    <p>With us you can travel to all the wild destinations you have ever dreamed of while helping others at the same time. </p>
                    <p>How it works? Sign up for a <a href="{% url 'camps' %}">volunteer camp</a> and pay the required fees. You will be contacted soon after with details of how to get to the camp</p>
                    <p>We will work with you to ensure you have all the information you will need before departing.</p>
                    <p>Volunteers find the experience hugely rewarding.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}