{% extends 'base.html' %}

{% load bootstrap_tags %}

{% block page_title %}
Travel
{% endblock %}

{% block secondary_nav %}
{% endblock %}

{% block content %}
<div class="item-box">
    <div class="row">
        <div class="col-md-2 col-sm-3 text-center">
            <a class="story-img" href="#">
                <img src="/media/img/profile.jpg" class="img-circle">
            </a>
        </div>
        <div class="col-sm-10 col-md-9">
            <div class="row">
                <div class="col-xs-9">
                    <p>Welcome to the tarvel page</p>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}