/* Body */
body {
    background-color: #E5E5E5;
    color: #444555;
}

/* Structure */
.alert {
    background: #F9DDA8;
    margin-bottom: 0;
}

.top-nav-bar {
    background-color: #FFFFFF;
}

    .top-nav-icon {
        text-align: center;
    }

    .top-nav-bar .nav-item .nav-link{
        color: #444555;
    }

    .top-nav-bar .nav-item .nav-link:hover{
        color: #326CF0;
    }

.secondary-nav-bar {
    background-color: #E7E9F3;
}

    .secondary-nav-bar ul .nav-item .active-btn {
        background-color: #F9DDA8;
        border-color: #F9DDA8;
        font-weight: bold;
    }

    .secondary-nav-bar .btn {
        color: #444555;
        border-color: #444555;
        margin-right: 2px;
    }

    .secondary-nav-bar .btn:hover {
        color: #ffffff;
        border-color: #326CF0;
    }

    .secondary-nav-search {
        width:auto;
    }

.content {
    min-height: 600px;
}

footer {
    background-color: #79B1C4;
}

    footer h1 {
        text-align: center;
        color: #fff;
    }

    footer li {
        list-style: none;
    }

    footer a {
        color: #4063B1;
        font-size: 1.3rem;
    }

    footer a:hover {
        color: #ffffff;
        font-size: 1.3rem;
    }

/* Elements */
.pagination a {
    color: #444555;
}

.item-box {
    margin-top:15px;
    background-color: #ffffff;
    border-radius: 5px;
    height: 100px;
}

.info-box {
    margin-top: 15px;
    background-color: #ffffff;
    border: 1px solid #444555;
    border-radius: 5px;
    height: 100px;
}

.callout-1 {
    margin-top:15px;
    background-color: #E2E9F9;

    text-align: center;
    font-family: 'rubrik';
    font-weight: 500;
    font-size: 2rem;
    line-height: 100px;
    color: #777777;
}

.callout-2 {
    background-color: #F1ECFD;
    margin-top:15px;

    text-align: center;
    font-family: 'Red Hat Display';
    font-weight: 500;
    font-size: 2rem;
    line-height: 100px;
    color: #777777;
}

form {
    width: 50%;
}
