/* Body */
body {
    background-color: #E5E5E5;
    color: #444555;
}

/* Structure */
.alert {
    background: #F9DDA8;
    margin-bottom: 0;
}

.top-nav-bar {
    background-color: #FFFFFF;
}

    .top-nav-icon {
        text-align: center;
    }

    .top-nav-bar .nav-item .nav-link{
        color: #444555;
    }

    .top-nav-bar .nav-item .nav-link:hover{
        color: #326CF0;
    }

.secondary-nav-bar {
    background-color: #E7E9F3;
}

    .secondary-nav-bar .active {
        font-weight: bold;
    }

    .secondary-nav-bar .nav-item .nav-link{
        color: #444555;
    }

    .secondary-nav-bar .nav-item .nav-link:hover{
        color: #326CF0;
    }

    .secondary-nav-search {
        width:auto;
    }

    .secondary-nav-search .btn {
        color: #444555;
        border-color: #444555;
    }

    .secondary-nav-search .btn:hover {
        color: #ffffff;
        border-color: #326CF0;
    }

.content {

}

.footer {

}

/* Elements */
.pagination {

}

.item-box {

}

.info-box {

}

.call-out-1 {

}

.call-out-2 {

}

form {
    width: 50%;
}
