{% extends 'base.html' %}
{% block page_title %}Home Page{% endblock %}
{% block page_heading %}Home{% endblock %}
{% block content %}

    <table>
        {% for camp in camps %}
        <tr>
            <th>{{ camp.name }}</th>
            <td>{{ camp.available }}</td>
            <td><form method="GET" action="edit_camp/{{ camp.id }}">
                <input type="submit" value="Edit"/>
            </form></td>
        </tr>
        {% empty %}
        <p>No camps currently available.</p>
        {% endfor %}
    </table>
    <a href="add_camp">Add Camp</a>

{% endblock %}