<!DOCTYPE html>
<html lang="en">

{% load staticfiles %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{% block page_title %}{% endblock %}</title>
    
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    
    <!-- Icons and fonts -->
    <script src="https://kit.fontawesome.com/f3e1d18d42.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Red+Hat+Display&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pragati+Narrow&display=swap" rel="stylesheet">
    
    <!-- Connnected Files -->
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/content.css' %}"/>

    <!-- Fengyuan Chen's Datepicker -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js" integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script>

    {% block head_js %}{% endblock %}

</head>


<body>


{% if DEVELOPMENT == 'Development' %}
    <div class="alert red">
        <div class="container">
            <strong>Note:</strong> This site is in development mode. Please notify the site's admin. <a href="https://github.com/Pattern-Projects/volunteer-fsf-project/issues">Click Here<a/>
        </div>
    </div>
{% elif DEVELOPMENT == 'Evaluation' %}
    <div class="alert yellow">
        <div class="container">
            <strong>Note:</strong> This site is in review mode. Login details are shared for project evaluation purposes. <a href="https://github.com/Pattern-Projects/volunteer-fsf-project/issues">GitHub Repository<a/>
        </div>
    </div>
{% else %}
    <div class="alert">
        <div class="container">
            <strong>Note:</strong> Sign up to our newsletter to be kept up to date. <a href="#">Click Here<a/>
        </div>
    </div>
{% endif %}

    <!-- Top Nav Bar -->
    <div class="top-nav-bar">
    <nav>
        <div class="container">

            <ul class="nav justify-content-end">

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">
                        <div class="top-nav-icon">
                            <i class="fas fa-home"></i>
                        </div>
                        <span>Home</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">
                        <div class="top-nav-icon">
                            <i class="fas fa-globe-europe"></i>
                        </div>
                        <span>Travel</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">
                        <div class="top-nav-icon">
                            <i class="far fa-newspaper"></i>
                        </div>
                        <span>News</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">
                        <div class="top-nav-icon">
                            <i class="fas fa-hiking"></i>
                        </div>
                        <span>Stories</span>
                    </a>
                </li>


                <li class="nav-item dropdown">
                    <a class="nav-link" href="{% url 'profile' %}">
                        <div class="top-nav-icon">
                            <i class="fas fa-user-circle"></i>
                        </div>
                        <span>Profile</span>
                    </a>
                    {% if request.user.is_authenticated %}
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="{% url 'logout'%}">Log Out</a>
                    </div>
                    {% endif %}

                </li>

            </ul>
        </div>
    </nav>
    </div> <!-- Nav Bar -->




    <!-- secondary-nav-bar -->
    <div class="secondary-nav-bar">

        <div class="container">
            <nav class="navbar navbar-expand-lg">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto justify-content-start">
                        {% block secondary_nav %}{% endblock %}
                    </ul>

                    <!-- Search bar -->
                    <form class="secondary-nav-search form-inline my-2 my-lg-0" action="{% url 'search_camps' %}" method="get">
                        <input class="form-control mr-sm-2" type="text" name="query" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
                    </form>

                </div>
            </nav>
        </div><!-- container -->
    </div><!-- secondary-nav-bar -->

    {% if messages %}
        <hr>
        <div>
    {% for message in messages %} {{ message }} {% endfor %}
    </div>
    {% endif %}

    <!-- Content -->
    <div class="content container">
        <h1>{% block page_heading %}{% endblock %}</h1>
        {% block content %}{% endblock %}
    </div>

    <footer>

        <div class="container">
            <dic class="row">
                <div class="col-md-6">
                    <h1>About Us</h1>
                    <ul>
                        <li><a href="#">Our Goals</a></li>
                        <li><a href="#">Information</a></li>
                        <li><a href="#">Privacy</a></li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <h1>Get Involved</h1>
                    <ul>
                        <li><a href="#">Volunteer</a></li>
                        <li><a href="#">Donate</a></li>
                        <li><a href="#">Social</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </footer>

</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script>
    $(function () {
      $(".datepicker").datepicker({
          format:'yyyy-mm-dd',
      });
    });
  </script>
</html>