{% extends 'base.html' %}

{% block page_title %}
Camps
{% endblock %}

{% block content %}

<div class="row">

	<!-- Side column -->
	<div class="col-md-3">
		<div class="info-box">

			<div class="info-section">
				<div class="info-header">
					Option Header:
				</div>
				<form class="info-options">

					<li class="info-option">
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
							<label class="form-check-label" for="defaultCheck1">
                                        Option
                                    </label>
						</div>
					</li>

					<li class="info-option">
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
							<label class="form-check-label" for="defaultCheck1">
                                        Option
                                    </label>
						</div>
					</li>

					<li class="info-option">
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
							<label class="form-check-label" for="defaultCheck1">
                                        Option
                                    </label>
						</div>
					</li>

				</form><!-- info-options -->
			</div><!-- info-section -->

			<div class="info-section">
				<div class="info-header">
					Option Header:
				</div>
				<form class="info-options">

					<li class="info-option">
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
							<label class="form-check-label" for="defaultCheck1">
                                        Option
                                    </label>
						</div>
					</li>

					<li class="info-option">
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
							<label class="form-check-label" for="defaultCheck1">
                                        Option
                                    </label>
						</div>
					</li>

					<li class="info-option">
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
							<label class="form-check-label" for="defaultCheck1">
                                        Option
                                    </label>
						</div>
					</li>

				</form><!-- info-options -->
			</div><!-- info-section -->

			<div class="info-section">
				<div class="info-header">
					Option Header:
				</div>
				<form class="info-options">

					<li class="info-option">
						<div class="form-check">
							<input class="form-check-input" type="radio" id="defaultRadio1" name="exampleRadios" value="option1" checked>
							<label class="form-check-label" for="defaultCheck1">
                                        Option
                                    </label>
						</div>
					</li>

					<li class="info-option">
						<div class="form-check">
							<input class="form-check-input" type="radio" id="defaultRadio1" name="exampleRadios" value="option1">
							<label class="form-check-label" for="defaultCheck1">
                                        Option
                                    </label>
						</div>
					</li>

					<li class="info-option">
						<div class="form-check">
							<input class="form-check-input" type="radio" id="defaultRadio1" name="exampleRadios" value="option1">
							<label class="form-check-label" for="defaultCheck1">
                                        Option
                                    </label>
						</div>
					</li>

				</form><!-- info-options -->
			</div><!-- info-section -->




		</div><!-- info-box -->
	</div><!-- col-md-3 -->




	<!-- content col-md-9 -->
	<div class="col-md-9">

		<!-- pagination -->
		<div class="pagination">
			<a href="#">prev-</a>

			<a href="#">-next</a>
		</div>


		<!-- Add camps to page -->
		{% for camp in camps %}
		<!-- content -->
		<div class="item-box">
			<div class="row">
				<div class="col-md-3 col-sm-12 text-center image-container">
					<!--<img src="/media/{{ camp.image }}"/>-->
					<img src="https://cdn.pixabay.com/photo/2018/05/28/22/11/message-in-a-bottle-3437294__340.jpg"/>
                            </div>
					<div class="col-md-8 col-sm-12">
						<h3>{{ camp.title }}</h3>
						<div class="row">
							<div class="col-xs-9">
								<p><a href="{% url 'camp_details' camp.id %}" class="btn btn-default">Read more</a></p>
								<p><span class="boldtext">Title:</span> {{ camp.title }} </p>
								<p>{{ camp.description|truncatewords:30 }}</p>
								<p><span class="boldtext">Country:</span> {{ camp.country }} </p>
								
                                
                                
                                
                                <!-- Show positions if positions set -->
                                {% if camp.positions or camp.positions_male or camp.positions_female or camp.positions_other %}
                                    <p><span class="boldtext">Positions Available:</span>
                                        {% if camp.positions %}{{ camp.positions }}{% endif %}
                                    </p>
                                    {% if camp.positions_male or camp.positions_female or camp.positions_other %}
                                        <div class="gender-container">
                                            {% if camp.positions %}               
                                                <p><span class="boldtext">Positions (Male):</span> {{ camp.positions_male }} </p>
                                            {% endif %}
                                            {% if camp.positions %}
                                                <p><span class="boldtext">Positions (Female):</span> {{ camp.positions_female }} </p>
                                            {% endif %}
                                            {% if camp.positions %}
                                                <p><span class="boldtext">Positions (Other):</span> {{ camp.positions_other }} </p>
                                            {% endif %}
                                        </div>
                                    {% endif %}
								{% endif %}


                                {% if camp.required_language %}
								    <p><span class="boldtext">Required Language:</span> {{ camp.required_language }} </p>
								{% endif %}
                                <p><span class="boldtext">Organisation:</span> {{camp.organisation}}</p>
								<p><span class="boldtext">Start Date:</span> {{camp.start_date}}</p>
								<p><span class="boldtext">End Date:</span> {{camp.end_date}}</p>
							</div>
						</div>
					</div>
					<hr>
				</div>
			</div>
			{% endfor %}

			<a href="{% url 'new_camp' %}">Add Camp</a>




		</div>
	</div>


	{% endblock %}