{% extends 'base.html' %}
{% block content %}
    {% for camp in camps %}
        <div class="row">
            <div class="col-md-2 col-sm-3 text-center">
                <img src="{{ camp.image }}"/>
            </div>
            <div class="col-md-10 col-sm-9">
                <h1>{{ camp.title }}</h1>
                <div class="row">
                    <div class="col-xs-9">
                        <p><a href="{% url 'camp_details' camp.id %}"  class="btn btn-default">Read more</a></p>
                        <p><span class="boldtext">Title:</span> {{ camp.title }} </p>
                        <p>{{ camp.description|truncatewords:30 }}</p>
                        <p><a href="{% url 'camp_details' camp.id %}"  class="btn btn-default">Read more</a></p>
                        <p><span class="boldtext">Country:</span> {{ camp.country }} </p>
                        <p><span class="boldtext">Organisation:</span> {{camp.organisation}}</p>
                    </div>
                </div>
            </div>
            <hr>
        </div>
    {% endfor %}
    <a href="{% url 'new_camp' %}">Add Camp</a>
{% endblock %}