{% extends "base.html" %}
{% block content %}
<div class="item-box">
    <div class="row">
        <div class="col-sm-4">
            <h1>{{ camp.title }}</h1>
            <hr>
            <div class="row">
                <div class="col-xs-9">
                    <!--<img src="/media/{{ camp.image }}"/>-->
                    <div class="col-sm-12 image-container">
                        <img src="https://cdn.pixabay.com/photo/2018/05/28/22/11/message-in-a-bottle-3437294__340.jpg"/>
                    </div>
                        <div class="details-container">
                            <p><span class="boldtext">Country:</span> {{ camp.country }} </p>
                            <p><span class="boldtext">Organistaion:</span> {{ camp.organisation }}</p>
                            
                            {% if camp.required_language %}
                                <p><span class="boldtext">Required Language:</span> {{ camp.required_language }} </p>
							{% endif %}

                            <!-- Show camp positions if positions are set -->
                            {% if camp.positions or camp.positions_male or camp.positions_female or camp.positions_other %}
                                <p><span class="boldtext">Positions Available:</span>
                                    {% if camp.positions %}{{ camp.positions }}{% endif %}
                                </p>
                                {% if camp.positions_male or camp.positions_female or camp.positions_other %}
                                    <div class="gender-container">
                                        {% if camp.positions_male %}               
                                            <p><span class="boldtext">Positions (Male):</span> {{ camp.positions_male }} </p>
                                        {% endif %}
                                        {% if camp.positions_female %}
                                            <p><span class="boldtext">Positions (Female):</span> {{ camp.positions_female }} </p>
                                        {% endif %}
                                        {% if camp.positions_other %}
                                            <p><span class="boldtext">Positions (Other):</span> {{ camp.positions_other }} </p>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            {% endif %}
                            
                            <p><span class="boldtext">Start Date:</span> {{ camp.start_date }}</p>
                            <p><span class="boldtext">End Date:</span> {{ camp.end_date }}</p>
                            
                            {% if camp.extra_host_country_fee %}
                                <p><span class="boldtext">Local Fee:</span> {{ camp.extra_host_country_fee }} </p>
                                <p><span class="boldtext">Local Fee:</span> {{ camp.extra_host_country_fee_currency }} </p>
							{% endif %}
                            
                            {% if camp.tag %}
                                <p><span class="boldtext">Tag:</span> {{ camp.tag }} </p>
                            {% endif %}


                            <a href="{% url 'get_camps' %}" class="btn btn-default">Back</a>
                            <a href="{% url 'edit_camp' camp.id %}" class="btn btn-default">Edit</a>
                            <a href="{% url 'delete_camp' camp.id %}" class="btn btn-default">Delete</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="row">
                <div class="col-xs-9">
                    <!--<img src="/media/{{ camp.image }}"/>-->
                        <div class="details-container">
                            <h2>Description: </h2>
                            <p>{{ camp.description }}</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}


<div class="item-box">
                        <div class="row">
                            <div class="col-md-3 col-sm-12 text-center image-container">
                                <!--<img src="/media/{{ camp.image }}"/>-->
                                <img src="https://cdn.pixabay.com/photo/2018/05/28/22/11/message-in-a-bottle-3437294__340.jpg"/>
                            </div>
                            <div class="col-md-8 col-sm-12">
                                <h3>{{ camp.title }}</h3>
                                <div class="row">
                                    <div class="col-xs-9">
                                        <p><a href="{% url 'camp_details' camp.id %}"  class="btn btn-default">Read more</a></p>
                                        <p><span class="boldtext">Title:</span> {{ camp.title }} </p>
                                        <p>{{ camp.description|truncatewords:30 }}</p>
                                        <p><span class="boldtext">Country:</span> {{ camp.country }} </p>
                                        <p><span class="boldtext">Organisation:</span> {{camp.organisation}}</p>
                                    </div>
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>