{% extends 'base.html' %}

{% load bootstrap_tags %}

{% block page_title %}
Travel
{% endblock %}

{% block secondary_nav %}
{% endblock %}

{% block content %}
<div class="item-box">
    <h1>Our Goals</h1>
    <hr>
    <img class="post-image" src="../media/img/goals.jpg"/>
    <div class="row">
        <div class="col-sm-10 col-md-9">
            <div class="row">
                <div class="col-xs-9">
                    <p>We wish to connect the world of international volunteers.</p>
                    <p>By connecting volunteer camps with willing volunteers from around the world , we can build lasting relationships across borders.</p>
                    <p>We believe that building strong international relationships we can help to promote peace and cooperation.</p>
                    <p>We wish to create a brighter future through our actions.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}